{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/feature-item.css' %}">

<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Featured Items</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div id="filters" class="button-group">
                        <button class="btn btn-primary"><a href="{% url 'ku-market-place:product' %}" style="color: #0042aa;">All Products</a></button>
                        <button class="btn btn-primary" data-filter=".new">Newest</button>
                        <button class="btn btn-primary" data-filter=".low">Low Price</button>
                        <button class="btn btn-primary" data-filter=".high">High Price</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <form method="get" action="{% url 'ku-market-place:product' %}">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="{{ form.productDisplayName.id_for_label }}" class="form-label">Product Name</label>
                            {{ form.productDisplayName }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.productPrice.id_for_label }}" class="form-label">Product Price</label>
                            <div class="input-group">
                                {{ form.productPrice }}
                                <span class="input-group-text">฿</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Gender
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.gender %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Dropdown menu for Gender -->
                        <div class="mb-3">
                            <label class="form-label">Category 1</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Master Category
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.masterCategory %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Category 2</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Sub Category
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.subCategory %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Article</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Article Type
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.articleType %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Colour</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Colour
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.baseColour %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Season</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Season
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.season %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Usage</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Usage
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.usage %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Year of Production</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Year
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                                    {% for checkbox in form.year %}
                                        <li class="form-check form-check-inline">
                                            {{ checkbox }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass fa-fade fa-xl"></i> Search</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="featured container no-gutter">
    <div class="row posts">
        {% if product_lists %}
            {% for product in product_lists %}
                <div id="{{ product.id }}" class="item new col-md-4">
                    <div class="featured-item">
                        <img src="{{ product.image }}" alt="{{ product.productDisplayName }}-Picture" style="width: 100px; height:100px;">
                        <a href="{% url 'ku-market-place:single_product' product.id %}">
                            <h4>{{ product.productDisplayName }}</h4>
                        </a>
                        <h6>฿{{ product.productPrice }}</h6>
                        <div class="gender">
                            {% if product.gender == "Men" %}
                                <span class="badge bg-primary">{{ product.gender}}</span>
                            {% elif product.gender == "Women" %}
                                <span class="badge bg-danger">{{ product.gender }}</span>
                            {% elif product.gender == "Boys" %}
                                <span class="badge bg-info">{{ product.gender }}</span>
                            {% elif product.gender == "Girls" %}
                                <span class="badge bg-warning">{{ product.gender }}</span>
                            {% else %}
                                <span class="badge bg-success">{{ product.gender }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="item new col-md-12 text-center">
                <h1 style="color: #333; font-size: 24px; margin-top: 20px;">No products are available.</h1>
                <p style="color: #666; font-size: 16px;">Try a different search or check back later for new arrivals.</p>
                <br>
            </div>
        {% endif %}
    </div>
</div>

<div class="page-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="current-page"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
